<link rel="stylesheet" href="{{ 'orders-users.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript> {{ 'orders-users.css' | asset_url | stylesheet_tag}} </noscript>
<script src="{{'orders-users.js' | asset_url }}" defer></script>

<div class="customers">  
  <p class="text_customers">Somos una tienda de alto impacto 
      con más de XXXX órdenes entregadas y más de
       XXXX clientes a nivel mundial.</p>
</div>
