<form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart"></form>
    <div class="my-cart" id="minicartHiddenShow" data-ajax-cart-section>
        {% render 'header-my-cart' %}
        <div class="mini-shopping-cart">
        {% render 'products-minicart' %}
        </div>
        {% render 'total-price-minicart' %}
        <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
            {{ 'sections.cart.checkout' | t }}
        </button>
    </div>
</form>
{% schema %}
{
    "name": "my cart", 
    "settings": []
}
{% endschema %}