<h1>hola</h1>

{{ collections['coleccionprod'].handle | json }}
{% for product in collections['coleccionprod'].products %}
    <div>
        <h3>{{ product.title }}</h3>
        {% for image in product.images %}
            <img src="{{ image | image_url: width: 300 }}" alt="{{ product.title }}" loading='lazy' width=300 height=300/>
          {% endfor %}
    </div>
{% endfor %}