.my-cart{
    min-width: 300px;
    max-width: 300px;
    padding: 5px;
    display: none;
    
}
.my-container{
    display: flex;
}
.my-container_content{
    flex: 1 1 auto;
    position: relative;
}
.my-container-cart{
    flex: 0 0 300px;
    padding: 15px;
    position: absolute;
    
}

.mini-cart__head {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    display: flex;
  }
  .mini-cart__head:before, .mini-cart__head:after {
    content: "";
    display: table;
  }
  .mini-cart__head:after {
    clear: both;
  }
  

div.mini-shopping-cart .mini-cart-item div {
    display: table-cell;
    height: 60px;
  }
  div.mini-shopping-cart .mini-cart-item div img {
    width: 60px;
    height: 60px;
    vertical-align: top;
  }
  div.mini-shopping-cart .mini-cart-item {
      padding-top: 5px;
      padding-bottom: 5px;
    display: table;
    width: 100%;
    position: relative;
  }
  div.mini-shopping-cart {
    max-height: 400px;
    overflow: scroll;
}
.separator{
    margin: 10px;
}
div.mini-shopping-cart .mini-cart-item div {
    font-size: 12px;
    padding: 5px;
}
.quantity-minicart {
    color: rgba(var(--color-foreground));
    position: relative;
    width: calc(10rem / var(--font-body-scale) + var(--inputs-border-width) * 2);
    display: flex;
    border-radius: var(--inputs-radius);
    min-height: calc((var(--inputs-border-width) * 2) + 2.5rem);
}
.quantity_minicart {
    color: rgba(var(--color-foreground));
     position: relative;
    /* width: calc(14rem / var(--font-body-scale) + var(--inputs-border-width) * 2); */
    display: flex;
    border-radius: var(--inputs-radius);
    min-height: 2.5rem;
}
.cart_empty{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
