.customers{
    background-image: url('../assets/image2.jpg');
    background-position: center center;
    background-size: cover;
    padding: 5rem 0;
    }
    
    .text_customers{
        color: white;
        text-align: center;
    }